auto-install-peers=true
strict-peer-dependencies=false
# Next.js + Tailwind need hoisted access to some transitive binaries.
node-linker=isolated
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*types*
